h1 {
    text-align: center;

}

html {
    background: lightblue;
    color: blue;
}

p {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

#div1 {
    text-align: center;
}

#div2 {
    text-align: center;
    
}
